* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************** Section 1 *****************/
/* Part 1 */
.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Part 2 */
.crafting-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 550px;
  background-color: #e9f4ff;
  padding: 40px;
}

.crafting-title {
  grid-column: 1 / span 6;
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.bold-text {
  text-decoration: underline;
  color: #4361ee;
}

/* button */
.crafting-bt {
  display: grid;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.lets-talk-bt {
  display: flex;
  background-color: #4361ee;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  align-items: center;
}

.lets-talk-bt img {
  width: 20px;
}

/* woman img */
.img-container {
  grid-column: 7 / span 12;
  grid-row: 1 / span 2;
  text-align: right;
}

.woman-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/****************** Section 2 *****************/
/* Part 1 */
.elevate-container {
  width: 100%;
  padding: 40px;
  margin-top: 100px;
}

.elevate-subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  font-family: #1a2630;
}

.elevate-text {
  text-align: center;
  margin-top: 30px;
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 95%;
  font-family: #4f5863;
}

.elevate-container2 {
  display: flex;
  padding: 5%;
  gap: 6%;
  margin-top: 60px;
  padding: 15px;
  border: none;
}

.teaching-img {
  float: left;
}

.teaching-text {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 85%;
  font-family: #4f5863;
  text-align: left;
}

/****************** Section 3 *****************/

/***************************** Joselyn upper ****************************/

/***************************** Changgwon down *****************************/
/************ happy-stories-area section ************/
.happy-stories-area {
  margin-top: 5%;
  padding: 5% 8%;
}

.happy-stories-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.stories-area {
  display: flex;
  align-items: center;
}

.left-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  border: none;
}

.main-stories-area {
  background-color: #f4f6fe;
  border-radius: 15px;
  display: flex;
  padding: 5%;
  gap: 6%;
  border: none;
}

.main-stories-right-area img {
  margin-bottom: 3%;
}

.main-stories-content {
  color: #4f5863;
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 95%;
}

.main-second-stories-content {
  color: #4f5863;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 100%;
  padding: 0 18.4%;
  display: none;
}

.right-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.dots {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.dot1 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
}

.dot2 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
}

.dot-diff {
  width: 8px;
  height: 8px;
  background-color: #1a2630;
  border: none;
  border-radius: 50%;
  background-color: #1a2630;
}

/************ contact-area section ************/
.contact-area {
  padding: 5% 0;
  width: 100%;
  margin: 3% 0;
}

.contact-us-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.contact-infomation {
  display: flex;
  justify-content: space-between;
  padding: 5% 8%;
  width: 100%;
  background-color: #e9f4ff;
}

.left-contact-side {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: center;
  width: 50%;
}

.office-address,
.contact-no,
.email {
  display: flex;
  gap: 4vh;
  align-items: flex-start;
}

.address-infomation,
.contact-no-infomation,
.email-infomation {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.info-subtitle {
  color: #1a2630;
  font-size: 1.5rem;
}

.info-content {
  color: #4f5863;
  font-size: 1.1rem;
}

.right-contact-side {
  background-color: #ffffff;
  border-radius: 15px;
  width: 50%;
  padding: 3%;
  top: 130px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

.user-info-area {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.user-name,
.user-email,
.user-company,
.user-phone {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.user-banner {
  color: #1a2630;
  font-size: 1rem;
}

.user-info {
  border-radius: 6px;
  border: 1px solid #e2e7ed;
  background-color: transparent;
  width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.submit-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 30%;
  margin-top: 5%;
}

/************ blog-area section ************/
.blog-area {
  padding: 5% 8%;
  margin-bottom: 3%;
  width: 100%;
}

.blog-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.three-banner {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.first-banner,
.second-banner,
.third-banner {
  width: calc((100% - 10vw) / 3);
  background-color: #e9f4ff;
  border-radius: 15px;
}

.banner-img {
  width: 100%;
}

.first-banner-info,
.second-banner-info,
.third-banner-info {
  padding: 8% 8%;
  max-width: 350px;
  line-height: 1.5;
}

.banner-info {
  color: #1a2630;
  font-size: 1.5rem;
  margin-bottom: 7%;
}

.read-more {
  display: flex;
  gap: 0.7rem;
}

.read-more p {
  font-size: 1rem;
  color: #4361ee;
}

.bt-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.view-all-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 55px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 80%;
  max-width: 350px;
  min-width: 150px;
}

/************************************************ footer ************************************************/
#ft-area {
  background-color: #03071b;
  max-width: 100%;
  height: auto;
}

/************ ft-upper-area ************/
.ft-upper-area {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 4% 8%;
}

.ft-upper-area > :nth-child(3),
.ft-upper-area > :nth-child(4) {
  transform: translateX(-6vw);
}

/************ ft-first-area ************/
.ft-first-area {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.social-media-area {
  display: flex;
  gap: 1.5vw;
}

/************ ft-second-area ************/
.ft-second-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-second-area .contact-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
}

.location-info,
.call-info,
.sms-info {
  display: flex;
  gap: 0.6vw;
}

.ft-second-area p {
  color: #f5f5f5;
  font-size: 1rem; /* 1rem = 16px */
}

/************ ft-third-area ************/
.ft-third-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-third-area .explore-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
}

.info-banner {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
}

.ft-third-area p {
  color: #f5f5f5;
  font-size: 1rem;
}

/************ ft-forth-area ************/
.ft-forth-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-forth-area .subscribe-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 100%;
}

.email-area {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
}

.email-banner {
  color: #ffffff;
  font-size: 1rem;
}

.email-info {
  border-radius: 6px;
  border: 1px solid #7b7c82;
  background-color: transparent;
  width: 130%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.subscribe-info {
  color: #f5f5f5;
  font-size: 0.8rem;
}

.subscribe-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
}

/************ ft-bottom-area ************/
.ft-bottom-area {
  padding-bottom: 1%;
}

.ft-bottom-area p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.9rem;
}
