* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header-logo, .lines {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: ;
} 

.header-logo {
    text-align: ;

}

.lines {

}
/* Joselyn upper */
