/***************************** media query *****************************/
/* for tablet */
@media screen and (max-width: 767px) {
  .ft-upper-area {
    flex-wrap: wrap;
    width: 100%;
  }

  .ft-upper-area > div {
    width: 40%;
  }

  .ft-first-area {
    order: 1;
  }

  .ft-second-area {
    order: 3;
  }

  .ft-third-area {
    order: 4;
  }

  .ft-forth-area {
    order: 2;
  }
}



/* for mobile(smartphone) */
@media screen and (max-width: 575px) {
  .ft-upper-area {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .ft-upper-area > div {
    width: 40%;
  }

  .ft-first-area {
    order: 1;
    flex-direction: row;
    gap: 15%;
  }

  .social-media-area {
    gap: 3vw;
  }

  .social-media-area img {
    max-width: 20%;
  }

  .ft-second-area {
    order: 3;
  }

  .ft-third-area {
    order: 4;
  }

  .ft-forth-area {
    order: 2;
  }
}