/* our basic style is desktop */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/****************** Main Section *****************/
.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-logo {
  width: 40px;
}

/****************** Crafting Visual Stories Section *****************/
.crafting-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 550px;
  background-color: #e9f4ff;
  padding: 40px;
}

.crafting-title {
  grid-column: 1 / span 6;
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.underline-img {
  display: inline;
  background-image: url(../assets/imgs/section1/icons/Vector\ 5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 5px;
}

/* button */
.crafting-bt {
  display: grid;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.lets-talk-bt {
  background-color: #4361ee;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  height: 0;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  align-items: center;
}

.lets-talk-bt img {
  width: 20px;
}

/* woman img */
.img-container {
  grid-column: 7 / span 12;
  grid-row: 1 / span 2;
  text-align: right;
  position: relative;
  display: inline-block;
}

.woman-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  margin-left: 22px;
  margin-top: 23px;
}

.woman-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/****************** Elevate Your Brand Section *****************/
.elevate-container {
  width: 100%;
  padding: 40px;
  margin-top: 100px;
}

.elevate-subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  font-family: #1a2630;
}

.underline-img {
  display: inline;
  background-image: url(../assets/imgs/section1/icons/Vector\ 4.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 5px;
}

.elevate-text {
  text-align: center;
  margin-top: 30px;
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 95%;
  font-family: #4f5863;
}

.elevate-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  gap: 6%;
  margin-top: 60px;
  padding: 15px;
  border: none;
}

.teaching-img {
  float: left;
}

.teaching-text {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 85%;
  font-family: #4f5863;
  text-align: left;
}

/****************** Our Services Section *****************/
.services-area {
  display: block;
  padding: 60px 20px;
  background-color: #E9F4FF;
}

.services-subtitle {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}

.underline-img {
  display: inline;
  background-image: url(../assets/imgs/section1/icons/Vector\ 5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 5px;
}

.eight-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0;
  margin-left: 110px;
}

.logo-design,
.development,
.ui-ux-design,
.digital-marketing,
.content-writing,
.email-marketing,
.motion-desing,
.print-desing {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}

.logo-design-img,
.development-img,
.ui-ux-design-img,
.digital-marketing-img,
.content-writing-img,
.email-marketing-img,
.motion-desing-img,
.print-desing-img {
  display: block;
  width: 100%;
  height: auto;
}

.logo-design-overlay,
.development-overlay,
.ui-ux-design-overlay,
.digital-marketing-overlay,
.content-writing-overlay,
.email-marketing-overlay,
.motion-desing-overlay,
.print-desing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: 80px;
}

.logo-design-name,
.development-name,
.ui-ux-design-name,
.digital-marketing-name,
.content-writing-name,
.email-marketing-name,
.motion-desing-name,
.print-desing-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.r-quote-l,
.r-quote-d,
.r-quote-u,
.r-quote-m,
.r-quote-c,
.r-quote-e,
.r-quote-p {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

/* button */
.our-services-bt {
  display: flex;
  margin-top: 20px;
  text-align: center;
}

.view-more-bt {
  background-color: #4361ee;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  align-items: center;
}

.view-more-img {
  width: 20px;
}
/***************************** Joselyn upper ****************************/

/***************************** Changgwon down *****************************/
/************ happy-stories-area section ************/
.happy-stories-area {
  margin-top: 5%;
  padding: 5% 8%;
}

.happy-stories-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.stories-area {
  display: flex;
  align-items: center;
}

.left-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  border: none;
}

.main-stories-area {
  background-color: #f4f6fe;
  border-radius: 15px;
  display: flex;
  padding: 5%;
  gap: 6%;
  border: none;
}

.main-stories-right-area img {
  margin-bottom: 3%;
}

.main-stories-content {
  color: #4f5863;
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 95%;
}

.main-second-stories-content {
  color: #4f5863;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 100%;
  padding: 0 18.4%;
  display: none; /* caution : only mobile & tablet */
}

.right-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.dots {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.dot1 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
}

.dot2 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
}

.dot-diff {
  width: 8px;
  height: 8px;
  background-color: #1a2630;
  border: none;
  border-radius: 50%;
}

/************ contact-area section ************/
.contact-area {
  padding: 5% 0;
  width: 100%;
  margin: 3% 0;
}

.contact-us-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.contact-infomation {
  display: flex;
  justify-content: space-between;
  padding: 5% 8%;
  width: 100%;
  background-color: #e9f4ff;
}

.left-contact-side {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
}

.office-address,
.contact-no,
.email {
  display: flex;
  gap: 4vh;
  align-items: flex-start;
}

.address-infomation,
.contact-no-infomation,
.email-infomation {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.info-subtitle {
  color: #1a2630;
  font-size: 1.5rem;
}

.info-content {
  color: #4f5863;
  font-size: 1.1rem;
}

.right-contact-side {
  background-color: #ffffff;
  border-radius: 15px;
  width: 50%;
  padding: 3%;
  top: 130px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

.user-info-area {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.user-name,
.user-email,
.user-company,
.user-phone {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.user-banner {
  color: #1a2630;
  font-size: 1rem;
}

.user-info {
  border-radius: 6px;
  border: 1px solid #e2e7ed;
  background-color: transparent;
  width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.submit-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 30%;
  margin-top: 5%;
}

/************ blog-area section ************/
.blog-area {
  padding: 5% 8%;
  margin-bottom: 3%;
  width: 100%;
}

.blog-title {
  text-align: center;
  font-size: 3rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.three-banner {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.first-banner,
.second-banner,
.third-banner {
  width: calc((100% - 10vw) / 3);
  background-color: #e9f4ff;
  border-radius: 15px;
}

.banner-img {
  width: 100%;
}

.first-banner-info,
.second-banner-info,
.third-banner-info {
  padding: 8% 8%;
  max-width: 350px;
  line-height: 1.5;
}

.banner-info {
  color: #1a2630;
  font-size: 1.5rem;
  margin-bottom: 7%;
}

.read-more {
  display: flex;
  gap: 0.7rem;
}

.read-more p {
  font-size: 1rem;
  color: #4361ee;
}

.bt-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.view-all-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 55px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 80%;
  max-width: 350px;
  min-width: 150px;
}

/************************************************ footer ************************************************/
#ft-area {
  background-color: #03071b;
  max-width: 100%;
  height: auto;
}

/************ ft-upper-area ************/
.ft-upper-area {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 4% 8%;
}

.ft-upper-area > :nth-child(3) {
  transform: translateX(-4vw);
}

.ft-upper-area > :nth-child(4) {
  transform: translateX(-6vw);
}

/************ ft-first-area ************/
.ft-first-area {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.social-media-area {
  display: flex;
  gap: 1.5vw;
}

/************ ft-second-area ************/
.ft-second-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-second-area .contact-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
}

.location-info,
.call-info,
.sms-info {
  display: flex;
  gap: 0.6vw;
}

.ft-second-area p {
  color: #f5f5f5;
  font-size: 1rem;
}

/************ ft-third-area ************/
.ft-third-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-third-area .explore-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
}

.info-banner {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
}

.ft-third-area p {
  color: #f5f5f5;
  font-size: 1rem;
}

/************ ft-forth-area ************/
.ft-forth-area {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.ft-forth-area .subscribe-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 100%;
}

.email-area {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
}

.email-banner {
  color: #ffffff;
  font-size: 1rem;
}

.email-info {
  border-radius: 6px;
  border: 1px solid #7b7c82;
  background-color: transparent;
  width: 130%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.subscribe-info {
  color: #f5f5f5;
  font-size: 0.8rem;
}

.subscribe-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
}

/************ ft-bottom-area ************/
.ft-bottom-area {
  padding-bottom: 1%;
}

.ft-bottom-area p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.9rem;
}

/***************************** media query *****************************/
/***************************** media query *****************************/
/***************************** media query *****************************/
/************ for tablet ************/
/************ for tablet ************/
/************ for tablet ************/
@media (max-width: 1024px) {
  /****************** Main Section *****************/
  .logo-container {
    padding: 15px; 
  }
  
  .header-logo {
    width: 35px; 
  }
  /****************** Crafting Visual Stories Section *****************/
  .crafting-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: auto;
    padding: 30px; 
  }

  .crafting-title {
    grid-column: 1 / span 6;  
    text-align: left;
    font-size: 40px;  
  }

  .crafting-bt {
    grid-column: 1 / span 4;  
    margin-top: 15px;
    justify-self: start;  
  }

  .img-container {
   display: flex;
    text-align: center;  
  }

  .woman-img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  /****************** Elevate Your Brand Section *****************/
  .elevate-container {
    padding: 30px;      
    margin-top: 80px;  
  }
  
  .elevate-subtitle {
    font-size: 36px;     
  }
  
  .elevate-text {
    font-size: 1.2rem;  
    max-width: 90%;     
    margin: 0 auto;     
  }
  
  .elevate-container2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;       
    gap: 4%;            
    margin-top: 50px;    
  }
  
  .teaching-img,
  .teaching-text {
    width: 100%;
  }
  
  .teaching-img {
    float: none;   
    margin-bottom: 20px;           
  }
  
  .teaching-text {
    font-size: 1.1rem;  
    max-width: 90%;     
    text-align: left;    
  }
  /****************** Our Services Section *****************/
  /* Elevate Section */
  .elevate-container {
    padding: 30px;
    margin-top: 80px;
  }

  .elevate-subtitle {
    font-size: 36px;
  }

  .elevate-text {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .elevate-container2 {
    flex-direction: row;
    gap: 4%;
    padding: 10px;
  }

  .teaching-img {
    width: 50%;
    float: none;
  }

  .teaching-text {
    font-size: 1.1rem;
    max-width: 90%;
    text-align: left;
  }
  
  /* Our Services Section */
  .services-area {
    padding: 40px 20px;
  }

  .services-subtitle {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .eight-services {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 0;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .content-writing,
  .email-marketing,
  .motion-desing,
  .print-desing {
    display: none;
  }
  
  .logo-design,
  .development,
  .ui-ux-design,
  .digital-marketing {
    max-width: 100%;
  }
  
  .logo-design-overlay,
  .development-overlay,
  .ui-ux-design-overlay,
  .digital-marketing-overlay {
    height: 80%;
    margin-top: 60px;
  }

  .our-services-bt {
    justify-content: center; 
  }
  .view-more-bt {
    font-size: 1rem;        
    padding: 8px 16px;       
  }
  .view-more-img {
    width: 18px;           
  }
  /***************************** Joselyn upper ****************************/

  /***************************** Changgwon down *****************************/
  /************ happy-stories-area section ************/
  .happy-stories-area {
    margin-top: 7%;
    padding: 6% 6%;
    width: 100%;
  }

  .happy-stories-title {
    font-size: 2rem;
    margin-bottom: 8%;
  }

  .main-stories-left-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 3%;
  }

  .main-stories-area {
    flex-direction: column;
  }

  .left-quotation {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }

  .main-stories {
    display: flex;
    max-width: 100%;
    text-align: center;
  }

  .main-stories-right-area img {
    margin-bottom: 0;
  }

  .main-stories-content {
    display: none;
  }

  .main-second-stories-content {
    font-size: 1.3rem;
    padding: 0 3%;
    display: block;
  }

  .dots {
    margin-top: 5%;
    gap: 2%;
  }

  .dot1 {
    order: 1;
  }

  .dot2 {
    order: 3;
  }

  .dot-diff {
    order: 2;
  }

  /************ contact-area section ************/
  .contact-area {
    margin-top: 3%;
    margin-bottom: 10%;
  }

  .contact-us-title {
    font-size: 2rem;
    margin-bottom: 8%;
  }

  .contact-infomation {
    flex-direction: column;
    justify-content: normal;
    padding: 6% 6%;
  }

  .left-contact-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vh;
    justify-content: normal;
    width: 100%;
    margin-top: 0;
  }

  .address-infomation,
  .contact-no-infomation,
  .email-infomation {
    gap: 3vh;
    margin-top: 2%;
  }

  .right-contact-side {
    width: 100%;
    padding: 6% 10%;
    top: 110px;
  }

  .submit-bt button {
    min-height: 60px;
    margin-top: 3%;
  }

  /************ blog-area section ************/
  .blog-area {
    padding: 6% 6%;
    margin-bottom: 8%;
  }

  .blog-title {
    font-size: 2rem;
    margin-bottom: 8%;
  }

  .first-banner,
  .second-banner,
  .third-banner {
    width: 100%;
  }

  .first-banner-info,
  .second-banner-info,
  .third-banner-info {
    max-width: 350px;
  }

  .third-banner {
    display: none;
  }

  .bt-area {
    margin-top: 8%;
  }

  /************************************************ footer ************************************************/
  /************ ft-upper-area ************/
  .ft-upper-area {
    justify-content: normal;
    padding: 6% 6%;
    flex-wrap: wrap;
    width: 100%;
  }

  .ft-upper-area > div {
    width: 40%;
  }

  .ft-upper-area > :nth-child(3) {
    transform: translateX(0);
  }

  /************ ft-first-area ************/
  .ft-first-area {
    gap: 4vw;
    order: 1;
  }

  .social-media-area {
    gap: 2.5vw;
  }

  /************ ft-second-area ************/
  .ft-second-area {
    gap: 3vw;
    order: 3;
  }

  .location-info,
  .call-info,
  .sms-info {
    gap: 1.5vw;
  }

  /************ ft-third-area ************/
  .ft-third-area {
    gap: 3vw;
    order: 4;
  }

  .info-banner {
    gap: 2.5vw;
  }

  /************ ft-forth-area ************/
  .ft-forth-area {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    order: 2;
  }

  .ft-forth-area .subscribe-title {
    width: 130%;
  }

  .email-area {
    gap: 2vw;
  }

  .subscribe-info {
    width: 130%;
  }

  /************ ft-bottom-area ************/
  .ft-bottom-area {
    padding-bottom: 3vh;
  }
}

/************ for mobile ************/
/************ for mobile ************/
/************ for mobile ************/
@media (max-width: 768px) {
  /****************** Main Section *****************/
  .logo-container {
    padding: 10px; 
  }
  
  .header-logo {
    width: 30px; 
  }
  
  /****************** Crafting Visual Stories Section *****************/
  .crafting-container {
    grid-template-columns: 1fr;       
    grid-template-rows: auto auto auto; 
    height: auto;                     
    padding: 20px;                   
  }

  .crafting-title {
    grid-column: 1;                   
    text-align: center;              
    font-size: 36px;                 
  }

  .crafting-bt {
    margin-top: 20px;              
  }

  .lets-talk-bt {
    display: flex;
    justify-content: center;  
    align-items: center;  
    width: auto; 
  }

  .img-container {
    grid-column: 1;
    grid-row: 3;                     
    text-align: center;
    margin-top: 20px;               
  }

  .woman-img {
    max-width: 90%;                 
    height: auto;
    border-radius: 15px;
  }
  
  /****************** Elevate Your Brand Section *****************/
  .elevate-container {
    padding: 30px;
    margin-top: 80px;
  }

  .elevate-subtitle {
    font-size: 36px;
  }

  .elevate-text {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .elevate-container2 {
    flex-direction: column;
    gap: 4%;
    padding: 10px;
  }

  .teaching-img {
    width: 100%;
    float: none;
  }

  .teaching-text {
    font-size: 1.1rem;
    max-width: 90%;
    text-align: center;
  }
  
  /****************** Our Services Section *****************/
  .services-area {
    padding: 40px 20px;
  }

  .services-subtitle {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .eight-services {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 0;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .content-writing,
  .email-marketing,
  .motion-desing,
  .print-desing {
    display: none;
  }
  
  .logo-design,
  .development,
  .ui-ux-design,
  .digital-marketing {
    max-width: 100%;
  }

  .logo-design-overlay,
  .development-overlay,
  .ui-ux-design-overlay,
  .digital-marketing-overlay {
    height: 80%;
    margin-top: 60px;
  }

  .our-services-bt {
    flex-direction: column;  
    align-items: center;     
    padding: 10px;
  }
  .view-more-bt {
    font-size: 0.9rem;       
    padding: 8px 16px;       
    width: 100%;
    max-width: 300px;        
  }
  .view-more-img {
    width: 16px;             
  }


  /***************************** Joselyn upper ****************************/

  /***************************** Changgwon down *****************************/
  /************ happy-stories-area section ************/
  .happy-stories-area {
    margin-top: 7%;
    padding: 4% 4%;
    width: 100%;
  }

  .happy-stories-title {
    font-size: 1.5rem;
  }

  .left-arrow-area {
    display: none; /* caution : only mobile */
  }

  .main-stories-left-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 3%;
  }

  .main-stories-area {
    flex-direction: column;
  }

  .left-quotation {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }

  .main-stories {
    display: flex;
    max-width: 100%;
    text-align: center;
  }

  .main-stories-right-area img {
    margin-bottom: 0;
  }

  .main-stories-content {
    display: none;
  }

  .main-second-stories-content {
    display: block;
  }

  .right-arrow-area {
    display: none; /* caution : only mobile */
  }

  .dots {
    margin-top: 5%;
    gap: 2%;
  }

  .dot1 {
    order: 1;
  }

  .dot2 {
    order: 3;
  }

  .dot-diff {
    order: 2;
  }

  /************ contact-area section ************/
  .contact-area {
    margin-top: 3%;
    margin-bottom: 10%;
  }

  .contact-us-title {
    font-size: 1.5rem;
  }

  .contact-infomation {
    flex-direction: column;
    justify-content: normal;
    padding: 4% 4%;
  }

  .left-contact-side {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
  }

  .address-infomation,
  .contact-no-infomation,
  .email-infomation {
    gap: 5vh;
    margin-top: 2%;
  }

  .right-contact-side {
    width: 100%;
    padding: 6% 4%;
    top: 70px;
  }

  .user-info-area {
    gap: 6vh;
  }

  .user-name,
  .user-email,
  .user-company,
  .user-phone {
    gap: 6vh;
  }

  .submit-bt button {
    font-size: 1.1rem;
  }

  /************ blog-area section ************/
  .blog-area {
    padding: 4% 4%;
    margin-bottom: 10%;
  }

  .blog-title {
    font-size: 1.5rem;
  }

  .three-banner {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    justify-content: normal;
    gap: 7vw;
  }

  .first-banner,
  .second-banner,
  .third-banner {
    width: 100%;
  }

  .banner-img {
    width: 100%;
  }

  .first-banner-info,
  .second-banner-info,
  .third-banner-info {
    padding: 5% 7%;
    max-width: 500px;
  }

  .third-banner {
    display: none;
  }

  .bt-area {
    margin-top: 7%;
  }

  /************************************************ footer ************************************************/
  /************ ft-upper-area ************/
  .ft-upper-area {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 8vw;
    padding: 4% 4%;
  }

  .ft-upper-area > :nth-child(3),
  .ft-upper-area > :nth-child(4) {
    transform: translateX(0);
  }

  /************ ft-first-area ************/
  .ft-first-area {
    flex-direction: row;
    gap: 8vw;
    order: 1;
  }

  .social-media-area {
    gap: 6vw;
  }

  .social-media-area img {
    max-width: 15%;
  }

  /************ ft-second-area ************/
  .ft-second-area {
    gap: 4vw;
    order: 3;
  }

  .ft-second-area .contact-title {
    font-size: 1.5rem;
  }

  .location-info,
  .call-info,
  .sms-info {
    gap: 2vw;
  }

  /************ ft-third-area ************/
  .ft-third-area {
    gap: 4vw;
    order: 4;
  }

  .ft-third-area .explore-title {
    font-size: 1.5rem;
  }

  .info-banner {
    gap: 4vw;
  }

  /************ ft-forth-area ************/
  .ft-forth-area {
    gap: 4vw;
    order: 2;
  }

  .ft-forth-area .subscribe-title {
    font-size: 1.5rem;
    max-width: 150%;
  }

  .email-area {
    gap: 4vw;
  }

  .email-info {
    width: 200%;
  }

  .subscribe-info {
    width: 150%;
  }

  /************ ft-bottom-area ************/
  .ft-bottom-area {
    padding: 5vh 0;
  }
}
