* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************** Joselyn upper ****************************/

/***************************** Changgwon down *****************************/
/************ happy-stories-area section ************/
.happy-stories-area {
  margin-top: 7%;
  padding: 4% 4%;
  width: 100%;
}

.happy-stories-title {
  text-align: center;
  font-size: 1.5rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.stories-area {
  display: flex;
  align-items: center;
}

.left-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  border: none;
  display: none; /* caution : only mobile */
}

.main-stories-left-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 3%;
}

.main-stories-area {
  background-color: #f4f6fe;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 6%;
  border: none;
}

.left-quotation {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.main-stories {
  display: flex;
  max-width: 100%;
  text-align: center;
}

.main-stories-content {
  color: #4f5863;
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 95%;
  display: none; /* caution : only mobile & tablet */
}

.main-second-stories-content {
  color: #4f5863;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 100%;
  padding: 0 18.4%;
}

.right-arrow-area {
  background-color: #f4f6fe;
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  display: none; /* caution : only mobile */
}

.dots {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.dot1 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
  order: 1;
}

.dot2 {
  width: 8px;
  height: 8px;
  background-color: #edeff9;
  border: none;
  border-radius: 50%;
  order: 3;
}

.dot-diff {
  width: 8px;
  height: 8px;
  background-color: #1a2630;
  border: none;
  border-radius: 50%;
  order: 2;
}

/************ contact-area section ************/
.contact-area {
  padding: 5% 0;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.contact-us-title {
  text-align: center;
  font-size: 1.5rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.contact-infomation {
  display: flex;
  flex-direction: column;
  padding: 4% 4%;
  width: 100%;
  background-color: #e9f4ff;
}

.left-contact-side {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.office-address,
.contact-no,
.email {
  display: flex;
  gap: 4vh;
  align-items: flex-start;
}

.address-infomation,
.contact-no-infomation,
.email-infomation {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 2%;
}

.info-subtitle {
  color: #1a2630;
  font-size: 1.5rem;
}

.info-content {
  color: #4f5863;
  font-size: 1.1rem;
}

.right-contact-side {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  padding: 6% 4%;
  top: 70px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

.user-info-area {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.user-name,
.user-email,
.user-company,
.user-phone {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.user-banner {
  color: #1a2630;
  font-size: 1rem;
}

.user-info {
  border-radius: 6px;
  border: 1px solid #e2e7ed;
  background-color: transparent;
  width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.submit-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 30%;
  margin-top: 3%;
}

/************ blog-area section ************/
.blog-area {
  padding: 4% 4%;
  margin-bottom: 10%;
  width: 100%;
}

.blog-title {
  text-align: center;
  font-size: 1.5rem;
  color: #1a2630;
  margin-bottom: 7%;
}

.three-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  gap: 7vw;
}

.first-banner,
.second-banner,
.third-banner {
  background-color: #e9f4ff;
  border-radius: 15px;
}

.banner-img {
  width: 100%;
}

.first-banner-info,
.second-banner-info,
.third-banner-info {
  padding: 5% 7%;
  max-width: 500px;
  line-height: 1.5;
}

.third-banner {
  display: none;
}

.banner-info {
  color: #1a2630;
  font-size: 1.5rem;
  margin-bottom: 7%;
}

.read-more {
  display: flex;
  gap: 0.7rem;
}

.read-more p {
  font-size: 1rem;
  color: #4361ee;
}

.bt-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
}

.view-all-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 55px;
  gap: 0.5rem;
  padding: 10px 20px;
  width: 80%;
  max-width: 350px;
  min-width: 150px;
}

/************************************************ footer ************************************************/
#ft-area {
  background-color: #03071b;
  max-width: 100%;
  height: auto;
}

/************ ft-upper-area ************/
.ft-upper-area {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  padding: 4% 4%;
}

/************ ft-first-area ************/
.ft-first-area {
  display: flex;
  gap: 8vw;
  order: 1;
}

.social-media-area {
  display: flex;
  gap: 6vw;
}

.social-media-area img {
  max-width: 15%;
}

/************ ft-second-area ************/
.ft-second-area {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  order: 3;
}

.ft-second-area .contact-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.5rem;
}

.location-info,
.call-info,
.sms-info {
  display: flex;
  gap: 2vw;
}

.ft-second-area p {
  color: #f5f5f5;
  font-size: 1rem;
}

/************ ft-third-area ************/
.ft-third-area {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  order: 4;
}

.ft-third-area .explore-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.5rem;
}

.info-banner {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.ft-third-area p {
  color: #f5f5f5;
  font-size: 1rem;
}

/************ ft-forth-area ************/
.ft-forth-area {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  order: 2;
}

.ft-forth-area .subscribe-title {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 100%;
}

.email-area {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.email-banner {
  color: #ffffff;
  font-size: 1rem;
}

.email-info {
  border-radius: 6px;
  border: 1px solid #7b7c82;
  background-color: transparent;
  max-width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
}

.subscribe-info {
  color: #f5f5f5;
  font-size: 0.8rem;
}

.subscribe-bt button {
  background-color: #4361ee;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
  padding: 10px 20px;
}

/************ ft-bottom-area ************/
.ft-bottom-area {
  padding: 5vh 0;
}

.ft-bottom-area p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.9rem;
}
